
<a routerLink="/" class="logo">
    <span class="logo-mini"><b>G</b>DL</span>
    <span class="logo-lg"><b>G</b>Downloader</span>
</a>

<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a (click)="toggleNavbar()" class="sidebar-toggle" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <app-download-mini-panel></app-download-mini-panel>

            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/app/assets/img/user2-160x160.jpg" class="user-image" alt="User Image">
                    <span class="hidden-xs">
                        {{ user ? user.name : '' }} {{ user ? user.surname : '' }}
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <img src="/app/assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        <p>
                            {{ user ? user.name : '' }} {{ user ? user.surname : '' }}
                        </p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-flat" (click)="logout()">
                                Logout
                            </button>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
