<div [ngClass]="actionBeltMaskClass"></div>

<div [ngClass]="actionBeltClass">
    <div class="actionbelt_container__breadcrumb">
        <ol class="breadcrumb">
            <li *ngFor="let breadcrumbNode of parserRequest.breadcrumbNodes">
                <a *ngIf="breadcrumbNode" [routerLink]="routerService.generateNodeUrl(breadcrumbNode)">
                    {{ NodeLevel.getLevelLabel(breadcrumbNode.level).toUpperCase() }} <span [innerHTML]="breadcrumbNode.label"></span>
                </a>
            </li>
        </ol>
    </div>

    <div class="actionbelt_container__navigation">
        <div class="input-group">
            <div class="input-group-btn">
                <a *ngIf="parserRequest.previousNode" [href]="routerService.generateNodeUrl(parserRequest.previousNode)" type="button" class="btn btn-default">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <button type="button" class="btn btn-default" (click)="reopenCurrentNode(true)">
                    <i class="fa fa-refresh"></i>
                </button>
                <app-saved-nodes class="btn component-btn-group-button"></app-saved-nodes>
                <button type="button" class="btn btn-default" (click)="toggleSettingsModal()">
                    <i class="fa fa-cogs"></i>
                </button>
            </div>

            <input [value]="parserRequest.currentNode ? parserRequest.currentNode.url : ''" type="text" class="form-control">

            <div class="input-group-btn">
                <button type="button" [disabled]="parserRequest.currentNode.identifier === null" (click)="markCurrentNode(NodeStatus.Queued)" [ngClass]="getCurrentNodeButtonClass(NodeStatus.Queued)">
                    <i class="fa fa-remove" *ngIf="parserRequest.currentNode.hasStatus(NodeStatus.Queued)"></i>
                    <i class="fa fa-save" *ngIf="!parserRequest.currentNode.hasStatus(NodeStatus.Queued)"></i>
                </button>
                <button type="button" [disabled]="parserRequest.currentNode.identifier === null" (click)="markCurrentNode(NodeStatus.Favorited)" [ngClass]="getCurrentNodeButtonClass(NodeStatus.Favorited)">
                    <i class="fa fa-star-o" *ngIf="parserRequest.currentNode.hasStatus(NodeStatus.Favorited)"></i>
                    <i class="fa fa-star" *ngIf="!parserRequest.currentNode.hasStatus(NodeStatus.Favorited)"></i>
                </button>
                <button type="button" [disabled]="parserRequest.currentNode.identifier === null" (click)="markCurrentNode(NodeStatus.Blocked)" [ngClass]="getCurrentNodeButtonClass(NodeStatus.Blocked)">
                    <i class="fa fa-unlock" *ngIf="parserRequest.currentNode.hasStatus(NodeStatus.Blocked)"></i>
                    <i class="fa fa-lock" *ngIf="!parserRequest.currentNode.hasStatus(NodeStatus.Blocked)"></i>
                </button>
                <button type="button" [disabled]="parserRequest.currentNode.identifier === null" (click)="markCurrentNode(NodeStatus.Finished)" [ngClass]="getCurrentNodeButtonClass(NodeStatus.Finished)">
                    <i class="fa fa-check-circle" *ngIf="parserRequest.currentNode.hasStatus(NodeStatus.Finished)"></i>
                    <i class="fa fa-check-circle-o" *ngIf="!parserRequest.currentNode.hasStatus(NodeStatus.Finished)"></i>
                </button>
                <a type="button" *ngIf="previousNodeUrl" class="btn btn-default" [href]="previousNodeUrl">
                    <i class="fa fa-long-arrow-left"></i> &nbsp; JUMP PREV
                </a>
                <a type="button" *ngIf="nextNodeUrl" class="btn btn-default" [href]="nextNodeUrl">
                    JUMP NEXT &nbsp; <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box no-border">
            <div class="box-header with-border">
                <h3 class="box-title" [innerHTML]="parserRequest.currentNode.name"></h3>
                <div class="box-tools" *ngIf="parserRequest.pagination.active">
                    <app-paginator (onPaginate)="changeNodePage($event)" [pagination]="parserRequest.pagination"></app-paginator>
                </div>
            </div>
            <div class="box-body">
                <app-nodes-list [parserRequest]="parserRequest"></app-nodes-list>
                <app-files-list [parserRequest]="parserRequest"></app-files-list>
            </div>

            <div class="box-footer clearfix" *ngIf="parserRequest.pagination.active">
                <app-paginator class="pull-right" (onPaginate)="changeNodePage($event)" [pagination]="parserRequest.pagination"></app-paginator>
            </div>
        </div>
    </div>
</div>

<div [className]="scrollTopClass">
    <button type="button" class="scroll-top-button" (click)="scrollTop()">
        <i class="fa fa-angle-up"></i>
    </button>
</div>
