/* colors */
$background-green: #32b643;
$border-green: #2faa3f;

$background-blue: #3498db;
$border-blue: #307db8;

$border-dark-grey: #aaa;

$background-grey: #eeeeee;
$border-grey: #dcdbdb;

$background-light-grey: #f8f8f8;
$border-light-grey: #ddd;

$background-red: #d92550;
$border-red: #d90069;

$background-yellow: #e0a008;
$border-yellow: #d49808;

$background-info: #b55be2;
$border-info: #9b5ac8;


$mobile-break: 768;
$tablet-break: 900;
$desktop-break: 1280;