<div [ngClass]="_toolbarMaskClasses" id="parser-toolbar-mask" [ngStyle]="{'height':(_containerHeight+'px')}"></div>

<div [ngClass]="_toolbarContainerClasses" id="parser-toolbar-container">
    <div class="toolbar__row bordered bg-light-grey">
        <span class="action_title" [innerHTML]="_nodeTitle"></span>
    </div>
    <div class="toolbar__row" id="action-toolbar">
        <div class="toolbar__row__buttonbox">
            <div class="buttonbox_label">
                OPERATIONS
            </div>
            <div class="buttonbox_buttons">
                <a class="button button-small" title="Refresh" (click)="nodePaginating(true)">
                    <i class="fa fa-refresh"></i> &nbsp; REFRESH
                </a>
                <a class="button button-small" title="Saved nodes">
                    <i class="fa fa-list-alt"></i> &nbsp; SAVED NODES
                </a>
                <a class="button button-small" title="Filtering">
                    <i class="fa fa-building-o"></i> &nbsp; FILTERING
                </a>
                <a class="button button-small" title="Settings">
                    <i class="fa fa-cogs"></i> &nbsp; SETTINGS
                </a>
            </div>
        </div>

        <div class="toolbar__row__buttonbox">
            <div class="buttonbox_label">
                STATUSES
            </div>
            <div class="buttonbox_buttons">
                <a [ngClass]="nodeStatusButtonClass(NodeStatus.Queued)" title="QUEUED" (click)="nodeMarking(NodeStatus.Queued)">
                    <i class="fa fa-remove" *ngIf="_parserRequest.currentNode.hasStatus(NodeStatus.Queued)"></i>
                    <i class="fa fa-save" *ngIf="!_parserRequest.currentNode.hasStatus(NodeStatus.Queued)"></i>
                    &nbsp; QUEUED
                </a>
                <a [ngClass]="nodeStatusButtonClass(NodeStatus.Favorited)" title="FAVORITED" (click)="nodeMarking(NodeStatus.Favorited)">
                    <i class="fa fa-star-o" *ngIf="_parserRequest.currentNode.hasStatus(NodeStatus.Favorited)"></i>
                    <i class="fa fa-star" *ngIf="!_parserRequest.currentNode.hasStatus(NodeStatus.Favorited)"></i>
                    &nbsp; FAVORITED
                </a>
                <a [ngClass]="nodeStatusButtonClass(NodeStatus.Blocked)" title="BLOCKED" (click)="nodeMarking(NodeStatus.Blocked)">
                    <i class="fa fa-unlock" *ngIf="_parserRequest.currentNode.hasStatus(NodeStatus.Blocked)"></i>
                    <i class="fa fa-lock" *ngIf="!_parserRequest.currentNode.hasStatus(NodeStatus.Blocked)"></i>
                    &nbsp; BLOCKED
                </a>
                <a [ngClass]="nodeStatusButtonClass(NodeStatus.Finished)" title="FINISHED" (click)="nodeMarking(NodeStatus.Finished)">
                    <i class="fa fa-check-circle" *ngIf="_parserRequest.currentNode.hasStatus(NodeStatus.Finished)"></i>
                    <i class="fa fa-check-circle-o" *ngIf="!_parserRequest.currentNode.hasStatus(NodeStatus.Finished)"></i>
                    &nbsp; FINISHED
                </a>
            </div>
        </div>

        <div class="toolbar__row__buttonbox" *ngIf="_pagination.active && _pagination.selectors.length > 0">
            <div class="buttonbox_label">
                SELECTORS
            </div>
            <div class="buttonbox_buttons">
                <select class="select select-small" [(ngModel)]="_activeSelectorValue" (change)="setActiveSelector(_activeSelectorValue)">
                    <option *ngFor="let selector of _pagination.selectors" [value]="selector.value" [selected]="selector.value === _activeSelectorValue" (click)="_pagination.setActiveSelectorByValue(_activeSelectorValue)">
                        {{ selector.label | uppercase }}
                    </option>
                </select>

                <select class="select select-small" *ngIf="_activeSelectorValue && _pagination.getActiveSelector().childrens.length > 0" [(ngModel)]="_activeSelectorChildrenValue" (change)="setActiveChildren(_activeSelectorChildrenValue)">
                    <option *ngFor="let child of _pagination.getActiveSelector().childrens" [value]="child.value" [selected]="child.value === _activeSelectorChildrenValue">
                        {{ child.label | uppercase }}
                    </option>
                </select>
            </div>
        </div>

        <div class="toolbar__row__buttonbox" *ngIf="_pagination.active && _pagination.mode !== PaginationMode.LoadMore">
            <div class="buttonbox_label">
                PAGINATION
            </div>
            <div class="buttonbox_buttons">
                <a class="button button-small" title="Previous page" (click)="changePage(-1)">
                    <i class="fa fa-angle-left"></i>
                </a>
                <select class="select select-small" [ngModel]="_currentPage" (change)="nodePaginating()">
                    <option *ngFor="let page of _pages" [value]="page" [selected]="page === _currentPage">
                        {{ page }}
                    </option>
                </select>
                <a class="button button-small" title="Next page" (click)="changePage(1)">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>

        <div class="toolbar__row__buttonbox" *ngIf="_pagination.active && _pagination.mode === PaginationMode.LoadMore">
            <div class="buttonbox_label">
                PACKAGE LOADING
            </div>
            <div class="buttonbox_buttons">
                <select class="select select-small" [(ngModel)]="_activePackage.id" title="CHOOSE PACKAGE">
                    <option *ngFor="let _package of _packages" [selected]="_package.id == _activePackage.id" [value]="_package.id">
                        {{ _package.size }} RESULTS
                    </option>
                </select>
                <a class="button button-small" title="Load more results" (click)="nodePaginating()">
                    LOAD &nbsp; <i class="fa fa-cloud-download"></i>
                </a>
            </div>
        </div>

        <div class="toolbar__row__buttonbox" *ngIf="_currentNode.allowCategory">
            <div class="buttonbox_label">
                MAIN CATEGORY
            </div>
            <div class="buttonbox_buttons">
                <select class="select select-small" [(ngModel)]="_nodeCategory" (change)="setCategory()">
                    <option [value]="null">-- NONE --</option>
                    <option *ngFor="let category of _parserRequest.categories" [value]="category.symbol">
                        {{ ((category.label !== null) ? category.label : category.name) }}
                    </option>
                </select>
            </div>
        </div>

        <div class="toolbar__row__buttonbox" *ngIf="_currentNode.allowTags">
            <div class="buttonbox_label">
                NODE TAGS
            </div>
            <div class="buttonbox_buttons">
                <a class="button button-small" *ngIf="_tagInputVisible === false" title="Create tag" (click)="openTagInput()">
                    <i class="fa fa-plus"></i> &nbsp; ADD
                </a>
                <div class="tags_input_area" *ngIf="_tagInputVisible === true">
                    <input type="text" id="toolbar-tag-input" class="input input-small" [(ngModel)]="_inputTagName" (keydown)="toggleTag($event)" />
                    <div class="tags_input_area_autocomplete" *ngIf="_foundTags.length > 0">
                        <ul>
                            <li *ngFor="let foundTag of _foundTags">
                                <a [innerHTML]="foundTag.name" (click)="addTag(foundTag)"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tags_container" *ngIf="_parserRequest.currentNode.tags.length > 0">
                    <div class="tag" *ngFor="let tag of _parserRequest.currentNode.tags">
                        {{ tag.name }}
                        <a class="tag_button">
                            <i class="fa fa-remove" (click)="removeTag(tag)"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="toolbar__row" id="parser-toolbar-action-area">

    </div>
</div>
