<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red">
                <i class="ion ion-ios-gear-outline"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">
                    Total downloaded files
                </span>
                    <span class="info-box-number">
                    0
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <i class="ion ion-ios-gear-outline"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">
                    Total downloaded files size
                </span>
                    <span class="info-box-number">
                    0 bytes
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="info-box bg-green">
            <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">
                    Downloader status
                </span>
                <span class="info-box-number">
                    0 / 0
                </span>
                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                    IDLE
                </span>
            </div>
        </div>

        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">
                    HentaiFoundry parser status
                </span>
                <span class="info-box-number">
                    0 Images parsed
                </span>
                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                    IDLE
                </span>
            </div>
        </div>
    </div>
</div>