<div *ngIf="parserRequest.parsedNodes.length > 0">
    <div class="grid-container grid-200">
        <a [target]="(node.level === NodeLevel.Gallery && !lockTiles) ? '_blank' : '_self'" [routerLink]="lockTiles ? currentUrl : routerService.generateNodeUrl(node)" id="{{ node.identifier }}" [ngClass]="getNodeClass(node)" *ngFor="let node of parserRequest.parsedNodes">
            <div class="tile-header-image">
                <div class="tile-header-icon bg-default" *ngIf="node.hasStatus(NodeStatus.Waiting)">
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                </div>
                <div class="tile-header-icon bg-info" *ngIf="node.hasStatus(NodeStatus.Saved)">
                    <i class="fa fa-save"></i>
                </div>
                <div class="tile-header-icon bg-success" *ngIf="node.hasStatus(NodeStatus.Finished)">
                    <i class="fa fa-check-circle"></i>
                </div>

                <span>
                    <p [innerHTML]="node.name | truncateString : 35"></p>
                </span>
            </div>
            <div class="tile-image" *ngIf="node.thumbnails.length > 0 || node.localThumbnails.length > 0">
                <div *ngIf="node.thumbnails && node.thumbnails.length > 0">
                    <img *ngFor="let thumbnail of node.thumbnails" [src]="thumbnail" />
                </div>
                <div *ngIf="node.localThumbnails && node.localThumbnails.length > 0">
                    <img *ngFor="let localThumbnail of node.localThumbnails" [src]="localThumbnail" />
                </div>
                <div *ngIf="!node.thumbnails && !node.localThumbnails">
                    <img src="/app/assets/img/no-image.png" />
                </div>
            </div>
            <div class="tile-data-empty">
                <table class="table table-hover">
                    <tbody>
                        <tr *ngIf="node.imagesNo && node.imagesNo > 0">
                            <th>Images</th>
                            <td>
                                {{ node.imagesNo }}
                            </td>
                        </tr>
                        <tr *ngIf="!node.imagesNo && node.ratio">
                            <th>Ratio</th>
                            <td>
                                {{ node.ratio }}
                            </td>
                        </tr>
                        <tr *ngIf="node.commentsNo">
                            <th>Comments</th>
                            <td>{{ node.commentsNo ? node.commentsNo : '----' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tile-footer">
                <button type="button" (mouseenter)="lockTiles=true" (mouseleave)="lockTiles=false" (click)="markNode(node, NodeStatus.Saved)" [ngClass]="getNodeButtonClass(node, NodeStatus.Saved, 'small')">
                    <i class="fa fa-save" *ngIf="node.hasStatus(NodeStatus.Saved)"></i>
                    <i class="fa fa-save" *ngIf="!node.hasStatus(NodeStatus.Saved)"></i>
                </button>
                <button type="button" (mouseenter)="lockTiles=true" (mouseleave)="lockTiles=false" (click)="markNode(node, NodeStatus.Favorited)" [ngClass]="getNodeButtonClass(node, NodeStatus.Favorited, 'small')">
                    <i class="fa fa-star-o" *ngIf="node.hasStatus(NodeStatus.Favorited)"></i>
                    <i class="fa fa-star" *ngIf="!node.hasStatus(NodeStatus.Favorited)"></i>
                </button>
                <button type="button" (mouseenter)="lockTiles=true" (mouseleave)="lockTiles=false" (click)="markNode(node, NodeStatus.Blocked)" [ngClass]="getNodeButtonClass(node, NodeStatus.Blocked, 'small')">
                    <i class="fa fa-unlock" *ngIf="node.hasStatus(NodeStatus.Blocked)"></i>
                    <i class="fa fa-lock" *ngIf="!node.hasStatus(NodeStatus.Blocked)"></i>
                </button>
                <button type="button" (mouseenter)="lockTiles=true" (mouseleave)="lockTiles=false" (click)="markNode(node, NodeStatus.Finished)" [ngClass]="getNodeButtonClass(node, NodeStatus.Finished, 'small')">
                    <i class="fa fa-check-circle" *ngIf="node.hasStatus(NodeStatus.Finished)"></i>
                    <i class="fa fa-check-circle-o" *ngIf="!node.hasStatus(NodeStatus.Finished)"></i>
                </button>
            </div>
        </a>
    </div>
</div>