<li class="dropdown messages-menu">
    <a class="navbar-main-button" style="cursor:pointer;" data-toggle="dropdown" (click)="toggleConsole()">
        <i class="fa fa-code"></i>
    </a>

    <ul [ngClass]="websocketClass" (click)="$event.stopPropagation()">
        <li class="header">
            WEBSOCKET CONSOLE
        </li>
        <li class="console-body">
            <div class="console-iframe-body" [innerHTML]="iframeHTML"></div>
        </li>
        <li class="footer">
            <button type="button" class="btn btn-default" (click)="c()">
                <i class="fa fa-play"></i> &nbsp; <span>INITIALIZE/RESTART</span>
            </button>
        </li>
    </ul>
</li>
